* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.body {
    overflow: hidden;
    background-image: linear-gradient(to top, #35001b, #e00f90);
    height: 100vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -50px;
    padding-left: 150px;
    padding-top: 10px;
    color: #35001b;
    float: right;
}

.div2 {
    float: left;
    background-image: linear-gradient(to top, #35001b, #e00f90);
    background-position: 800px;
    height: 100vh;
    width: 50vw;
    padding-bottom: 100px;
    margin-right: -30px;
    background-image: linear-gradient(to top, #35001b, #e00f90);
}

.img {
    padding-top: 30px;
    padding-left: 155px;
    height: 480px;
    width: 550px;
    text-align: center;
}

.formulario {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    width: 350px;
    height: 350px;
    text-align: center;
    padding-top: 20px;
    margin-right: 110px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.button {
    border-radius: 5px;
    margin: 100px;
    width: 130px;
    height: 35px;;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 20px;
    background-color: #e00f90;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    box-shadow: 0px 1px 1px 5px rgba(0, 0, 0, 0.088);
}

#resultado {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    margin-left: 100px;
    margin-top: -50px;
    
}

.input {
    border-radius: 7px;
    background-color: #fabbe2;
    height: 30px;
}
